.main.bg-dark {
  background-color: #12002b;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sign-in-content {
  background-color: white;
  width: 300px;
  margin: 3rem auto;
  padding: 2rem;
  text-align: center;

  border: none;
  box-shadow: none;


  .sign-in-icon {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: #2c3e50;
  }

  h1 {
    margin-bottom: 1.5rem;
    color: #2c3e50;
  }

  form {
    display: flex;
    flex-direction: column;

    .input-wrapper {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: 1rem;

      label {
        font-weight: bold;
        margin-bottom: 0.25rem;
      }

      input {
        padding: 5px;
        font-size: 1.2rem;
      }
    }

    .input-remember {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      label {
        margin-left: 0.25rem;
      }
    }

    .sign-in-button {
      display: block;
      width: 100%;
      padding: 8px;
      font-size: 1.1rem;
      font-weight: bold;
      margin-top: 1rem;
      border: none;
      background-color: #00bc77;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: #00a868;
      }

      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }

    .error-message {
      color: red;
      margin-top: 1rem;
      font-size: 0.9rem;
    }
  }
}
