html, body, #root {
  height: 100%;
  margin: 0;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 

  > header,
  > .main-nav {
    flex-shrink: 0;
  }

  > main.main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  > footer.footer {
    flex-shrink: 0;
  }
}
